/* CSS styles for the admin login page */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .dashboard-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .dashboard-links a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }


  .top-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #000;
    border-radius: 4px;
  }